@import './scss/mixins.scss';
@import './scss/base.scss';

header
{
    background-color: #ccc;
}

div.logo
{
    img
    {
        width: 100px;
    }
}

div.wrapper
{
    @include flex(flex, column nowrap, flex-start, center);
}

div.input-wrapper
{
    margin: 0 auto;

    @include flex(flex, column nowrap, flex-start, center);

    label
    {
        margin-bottom: 10px;
    }
}

input#card-number
{
    display: block;
    width: 200px;
    padding: 10px;

    border: 2px solid green;
    padding: 5px;

    margin-bottom: 30px;
}

div.image-wrapper
{
    margin-top: 20px;
}

img#card-code
{
    display: block;
}